html {
	overflow: auto;
}
body {
	background-color: #CCFFCC;
	color: #000000;
	font-family: Consolas, "Courier New", monospace;
	font-size: 16px;
}
h1 {
	text-align: center;
}
a {
	text-decoration: none;
	color: #990099;
}
a:hover {
	text-decoration: underline;
}
table {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border: 2px solid #000000;
	width: 100%;
}
th, td {
	border: 1px solid #000000;
	padding: .3em;
}
th {
	text-align: left;
	font-weight: bold;
}
thead th {
	text-align: center;
}

#file-link {
	text-align: center;
}
#file-link a {
	color: #990000;
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
}

#code-wrapper {
	background-color: #FFFFFF;
	font-family: Consolas, "Courier New", monospace;
	font-size: 16px;
	border: 2px solid #000000;
}
#line-numbers {
	background-color: #CCCCCC;
	float: left;
	text-align: right;
	padding: 0 5px;
	border-right: 2px solid #000000;
}
#line-numbers a {
	color: #000000;
	text-decoration: none;
	display: block;
}
#line-numbers div {
	white-space: pre;
}
#code {
	padding-left: 10px;
	overflow: auto;
}
#code div {
	white-space: pre;
}

#summary {
	border: 2px solid #000000;
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

#footer {
	text-align: center;
	font-size: 12px;
}
#footer a {
	color: #000000;
}

.coverage-percentage {
	text-align: center;
}
.coverage-ratio {
	text-align: center;
}
.covered {
	background-color: #66FF66;
}
.uncovered {
	background-color: #FF6666;
}
.dead {
	background-color: #999999;
}